.editProduct-colors-container {
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.editProduct-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.editProduct-back {
    width: 5vw;
}

.editProduct-new-color {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.editProduct-color-container {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.editProduct-colors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
    margin-bottom: 40px;
}

.editProduct-colors_color{
    min-width: 30%;
    display: flex;

    align-items: center;
    justify-content: start;
}

.editProduct-colors p {
    margin-left: 15px;
    font-weight: 600;
    font-size: 16px;
}

.editProduct-color-circle {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid black;
}

.editProduct-size-container {
    display: flex;
}

.editProduct-sizes {
    display: flex;
    flex-direction: column;
}

.size-label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
}

.onSale-option {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
}