.form-container {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.form-container .div-loginRegister {
    width: 1px;
    height: 100vh;
    margin-top: 2.5%;
    border: none;
    background-color: black;
}

@media screen and (max-width: 768px) {
    .form-container {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-container .div-loginRegister {
        width: 85%;
        height: 1px;
        margin-top: 2.5%;
        border: none;
        background-color: black;
    }
}